<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d626e15075.js" crossorigin="anonymous"></script>
    <!-- CSSファイルの読み込み -->
    <link rel="stylesheet" href="style.css" />
    <title>WebCampBackendNew</title>
  </head>

  <body>
    <p id="notice"></p>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    </table>
  </body>

</html>