<body>
  <%= form_with model:@book, locaal:true do %>
   <h1>ようこそ <strong>Bookers</strong> へ !</h1>
   <p><strong class="stg1">Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>
   <p>印象を共有し交換することができます</p>
   <p>
    <%= link_to "Start", books_path %>
    <!--<a href="https://99e379a1b70746039b66de386941ad3a.vfs.cloud9.us-east-1.amazonaws.com/books">start</a>-->
   </p>
  <% end %>
</body>